<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<mat-toolbar class="storeges-container">  
  <mat-toolbar-row *ngFor="let storege of storeges">
    <button mat-button class="storege-button" (click)="StoregeOnClick(storege)"><mat-icon>apps</mat-icon> {{storege.name}} </button>
    
    <div class="divider"></div>
    
    <mat-button-toggle-group>
      <mat-button-toggle value="ActionList"  color="primary"  (click)="GoToActionList(storege)"> <mat-icon>list</mat-icon> </mat-button-toggle>
      <mat-button-toggle value="edit"    color="primary"  (click)="Edit(storege.id)"> <mat-icon> edit   </mat-icon> </mat-button-toggle>
      <mat-button-toggle value="delete"  color="primary"  (click)="Delete(storege.id)"> <mat-icon> delete </mat-icon> </mat-button-toggle>
    </mat-button-toggle-group>
    
  </mat-toolbar-row>



  <mat-toolbar-row>
    <button mat-raised-button class="new-storege-button" color='warn' (click)="Edit('')">Добавить кассу</button>
  </mat-toolbar-row>


</mat-toolbar>