rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    
    function isOwner(userid,financeID) {
    	return  isAuthenticated() && userid in get(/databases/$(database)/documents/finances/$(financeID)).data.owners;
    }
    
    function isAuthenticated() {
    	return request.auth.uid != null;
    }
    
    match /finances/{financeID}/{restOfPath=**} {
    	allow read,write: if isOwner(request.auth.uid,financeID);
    }
    
    match /finances/AppOptions {
    	allow read;
      allow write: if request.auth.uid == 'imKtRR2q3gSYpYIPtMRe5otpwE93';
    }
  }
}