mat-card-content {
    overflow: auto;
}

mat-table {

    min-width: 1024px;
}

mat-header-row {
    background: rgb(191, 191, 191);

}
mat-footer-row {
    background: rgb(191, 191, 191);
}

mat-cel {
    
    border-right: 1px solid #e0e0e0;
    
}

