
<mat-card   class="form-card">
    <mat-card-header >
      <mat-card-title> Вас приветвует приложение Simple finance </mat-card-title>
      <mat-card-subtitle>группа приложений Simple (kafe, hotel, reports) </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content >

        <p class="content-paragraf"> Приложение Simple finance позволяет вести учет денежных средств в разрезе касс и статей затрат. </p>

        <mat-list>

          <mat-list-item >
              <h4 matLine>  Зарегитсрируйтесь или войдите</h4>
              <p matLine>Для регитсрации  вам нужен только аккаунт Google </p>        
          </mat-list-item>

          <mat-chip-list ><mat-chip class="divider" color="primary" selected="true" (click)="Login()">Логин</mat-chip></mat-chip-list>

          <mat-list-item>
              <h4 matLine>  Если Вы уже зашли нажмите </h4>
          </mat-list-item>

          
          <mat-chip-list ><mat-chip class="divider"  color="primary" selected="true" (click)="Storeges()">Начать работу </mat-chip></mat-chip-list>  
        </mat-list>

    </mat-card-content>
    
    <!-- <mat-card-actions>
      <button color='primary'  mat-button >Начать работу</button>
      <button color='primary' mat-button >Логин </button>
    </mat-card-actions> -->
  </mat-card>
  